.header-main {
  position: relative;
  padding-top: 7px;
  padding-bottom: 7px;
  background-color: #007bff;
}

.logo {
  color: #fff;
  font-size: 25px;
  font-weight: 600;
}

.search-form {
  border: 1px solid #ffffff;
  width: 55%;
}

.search-button {
  color: #007bff;
  background-color: #ffffff;
  border-color: #ffffff;
}

.navbar-main {
  background-color: #fff;
}

.navbar-toggler {
  color: rgba(0, 0, 0, 0.5);
  color: rgba(0, 0, 0, 0.5);
  border-color: rgba(0, 0, 0, 0.1);
}

.navbar-toggler {
  padding: 4px;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.37rem;
}

.navbar-toggler-icon {
  background-image: url(https://img.icons8.com/ios/50/000000/menu.png);
}

.nav-link {
  text-transform: uppercase;
  font-weight: 400;
}

.fas {
  color: #fff;
}
.lang {
  color: #fff;
  cursor: pointer;
}
.lang:hover {
  color: #ff6565;
}
