@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap);

body {
  background: #f9f9f9;
  font-family: "roboto", sans-serif;
}
.btn {
  border-radius: none;
  -webkit-border-radius: none;
  -moz-border-radius: none;
  -ms-border-radius: none;
  -o-border-radius: none;
}
